* {
  font-size: 14px;
}
.navbar-custom-color{
  background-color: #000000;
  border-color: rgba(66,73,79,0.94);
  height: 80px;
}
.navbar-nav > li > a, .navbar-brand{
  padding: 0;
  height: 80px;
}
.text-white{
  color: #fff;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: #fff;
}
.brand-icon{
  color: #6ca439;
}
.header-open{
  padding-bottom: 80px;
}
.carousel-inner img{
  width: 100%;
  height: 400px !important;
}
.carousel-inner .first-caption{
  color: #54575c;
}
.section-spaces{
  padding: 60px 0;
}
.footer-bottom {
  float: left;
  width: 100%;
  padding-bottom: 24px;
  padding-top: 28px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #171616;
  background: none repeat scroll 0 0 #323131;
}
.footer-bottom p {
    color: #969595;
    float: left;
    font-family: roboto;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
.footer-bottom ul {
    float: right;
}
.footer-bottom li {
    float: left;
    margin-left: 35px;
}
.footer-bottom a {
    color: #969595;
    font-family: roboto;
    font-size: 12px;
}
.logo{
    height: 80px;
}
.right-menu{
  padding-top: 30px; 
}
.right-menu li a{
  padding-right: 15px;
  font-size: 17px;
  text-transform: uppercase;
}
.about-banner{
  background: url(/images/aboutBanner.jpg) center center no-repeat;
  height: 400px;
}
.display-table{
  display: table;
  height: 400px;
  width: 100%;
}
.verticle-center{
  display: table-cell;
  vertical-align: middle;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}
.subheading{
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 10px 0 0
}
h1.about-heading {
  font-size: 65px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 800;
}
.text-red{
  color: red;
}

    #makeMeScrollable
    {
      width:100%;
      height: 630px;
      position: relative;
    }
    
    #makeMeScrollable div.scrollableArea img
    {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
