<div class="about-banner">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center text-white">
    <div class="display-table">
      <div class="verticle-center">
        <h1 class="about-heading">About Us</h1>
        <hr class="small">
        <span class="subheading">This is what We do.</span>
      </div>
    </div>
  </div>
</div>
<section class="section-spaces">
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Abhyuday S N Samaj kalyan Trust</h1>
    <p>Abhyuday S N Samaj Kalyan Trust was formed in the memory of Late Surya
    Narayan Pandey. He was an epitome of love,affection and values. He had
    a simple life and believed that eduction is the only salutation   the
    social and economic development of the people and society. It was his
    dream to offer quality affordable education that transform the
    character of our  children as they grew to become responsible citizen
    .Abhyuday S N Samaj Kalyan Trust is an independent globle charitable
    foundation dedicated to the skill development programme for
    girls,women & youth  and give a education to children in the way to
    develop to our society.
    </p>
   </div>
</div>
</section>