<section class="section-spaces">
  <div class="container">
  <h1 class="text-uppercase text-center text-primary">OUR AMAZING TEAM<br><small> Behind the Excellence Work</small></h1>
  <br>
  <br>
    <div class="row">
      <div class="col-md-4">
        <h3>Sanjay Kumar Pandey<br><small>Managing Director<br>Email: sanjayratanmau@rediffmail.com<br>Mob. No.: +91 9451449063</small></h3>
      </div>
      <div class="col-md-4">
        <h3>Abha Devi<br><small>Chairman<br>Mob. No.: +91 9415463591</small></h3>
      </div>
      <div class="col-md-4">
        <h3>Ruchi Pandey<br><small>Chief Secretary<br>Email: ruchipandeymau@gmail.com</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Puranmashi Ram<br><small>Project Director<br>Mob. No.: +91 9795599925</small></h3>
      </div>
      <div class="col-md-4">
        <h3>Tribuhuvan Nath Pandey<br><small>Legal Adviser<br>Email: sanjayratanmau@rediffmail.com<br>Mob. No.: +91 9415514026</small></h3>
      </div>
      <div class="col-md-4">
        <h3>Vijay Shankar Rai<br><small>Mob. No.: +91 9473519223</small></h3>
      </div>
    </div>
    <hr>
    <h1 class="text-primary text-center">Board Of Trustees Members</h1>
    <br>
    <div class="row">
      <div class="col-md-2">
        <h3>Ashok Pandey<small><br>+91 9889925279</small></h3>
      </div>
      <div class="col-md-3">
    <h3>Ambrish Pandey<small><br>+91 8858980101</small></h3>
    </div>
    <div class="col-md-2">
    <h3>Sanjay Verma<small><br>+91 8545862484</small></h3>
    </div>
    <div class="col-md-2">
    <h3>Kamla Pati<small><br>+91 8382819249</small></h3>
    </div>
    <div class="col-md-3">
    <h3>Sandeep Pandey<small><br>+91 9711697954</small></h3>
    </div>
  </div>
</section>