<div class="footer-bottom">
  <div class="container">
    <p>Copyright © 2015 Abhyuday S N Samaj kalyan Trust </p> 
    <ul>      
      <li><a href="#/" title="">HOME</a></li>
      <li><a href="/#about" title="">ABOUT</a></li>
<!--      <li><a href="elements.html" title="">ELEMENTS</a></li> 
      <li><a href="/lifeline/HTML/get-involved/blog.php" title="">BLOG</a></li>-->
      <li><a href="#/contact" class="text-uppercase">Contact Us</a></li>
    </ul> 
  </div>
  <div>
  <table width="100%" border="1">
    <tbody><tr>
      <td align="center">
        <font color="text-white"> Affiliated to Abhyuday S N Samaj kalyan Trust </font>
      </td>
      <td class="text-white text-center">Made with <i class="fa fa-heart text-red"></i> by Gautam Pandey </td>
    </tr>
  </tbody></table>
  </div>
</div>
<script>
  $('.carousel').carousel({
    interval: 3000
  })
</script>